<div class="row-fluid">
	<div class="span12 text-center">
		<br>
		<img src="images/fastagentslogo.png" class="logo"/>
		<h3>Experienced. <span class="gray_text">Dedicated.</span> <span style="color: #F99D1C; background-color: #000; padding: 5px;">FAST.</span></h3>
	</div>
</div>
<!-- Featured Listings -->
<div class="row-fluid">
	<div class="span12 featured_listings text-center">
		<h1 class="white_text">Featured Listings</h3>
		<% @listings.take(3).each do |listing| %>
			<div class="featured_box">
				<div class="price">$<%= listing.price %></div>
				<% if listing.picture_file_name %>
					<%= link_to image_tag(listing.picture.url(:medium)), listing %>
				<% end %>
				<h4><%= listing.Number %> <%= listing.Address %></h4>
				<small><%= listing.Address2 %></small>
				<small><%= listing.City %> <%= listing.State %>, <%= listing.Zip %></small>
				<table class="table">
					<tbody>
						<tr>
							<td>Bed: <%= listing.Rooms  %></td>
							<td>Bath: <%= listing.Bathrooms  %></td>
						</tr>
						<tr>
							<td>SqFt: <%= listing.SqFt  %></td>
							<td>Lot: <%= listing.Lot  %></td>
						</tr>
					</tbody>
				</table>
			    <p><%= listing.Description %> <br><br>
			    	<h4><%= link_to 'Details', listing, class: "orange_text" %></h4>
			    </p>
			</div>
		<% end %>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 about_us text-center">
		<h1>About Us</h1>
		<div class="row-fluid">
			<div class="span4">
				<img class="img-circle agent_circle" src="images/KennyLogo.jpg" alt="" />
					<h3>Kenny Truong</h3>
					<span class="small">Agent</span><br>
					<span class="small">510.545.6932</span><br>
					<a href="mailto:kenny@fastagent.me" class="orange_text"><span class="small">kenny@fastagent.me</span></a>
				<p>
					Kenny was ranked the #3 agent in Alameda County for closed homes sold. He is a branded #fastagent who has inspired many in Alameda counties Real Estate industry with his cutting edge visions.
				</p>
			</div>
			<div class="span4">
				<img class="img-circle agent_circle" src="images/klowelogo.jpg" alt="" />
					<h3>Kevin Lowe</h3>
					<span class="small">Agent</span><br>
					<span class="small">510.851.5454</span><br>
					<a href="mailto:kevin.mjre@gmail.com" class="orange_text"><span class="small">kevin.mjre@gmail.com</span></a>
				<p>
					Kevin is a dedicated professional who will go above and beyond his due dilegence as an agent to insure his client's buying or selling experience is as streamlined as possible.
				</p>
			</div>
			<div class="span4">
				<img class="img-circle agent_circle" src="images/blanklogo.jpg" alt="" />
					<h3>David Nguyen</h3>
					<span class="small">Marketing | Web</span><br>
					<span class="small">510.922.0161</span><br>
					<a href="mailto:david.mjre@gmail.com" class="orange_text"><span class="small">david.mjre@gmail.com</span></a>
				<p>
					David is in charge of Marketing and Web development for Team Fast Agents. He keeps up with the latest trends and implements new designs to insure the team is always cutting edge.
				</p>
			</div>

		</div>
	</div>
</div>
